%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to("Lights, Camera, Index!", authenticated_root_path, method: :get, class: "navbar-brand")

    .navbar-collapse.collapse#navbar
      %ul.nav.navbar-nav
        %li= link_to("Movies", authenticated_root_path, method: :get)
        %li= link_to("Add Movie", new_movie_path, method: :get)
        %li= link_to("Log Out", destroy_user_session_path, method: :delete)
